/*

Placed in <head> of index.html:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap" rel="stylesheet">

font-family: 'Lato', sans-serif;    // Use for most text
font-family: 'Oswald', sans-serif;  // Use for "logo"
 */

:root {
  --dark-bkgd: #005f73;
  --light-bkgd: #e9d8a6;
  --dark-txt: #001219;
  --link-unvisited: #0a9396;
  --link-visited: #005f73;
  --highlight: #94d2bd;
  --alert: #9b2226;
  --pop: #bb3e03;
  --contrast: #ee9b00;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-bkgd);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: calc(10px + 2vmin);
  color: var(--dark-txt);
}

.App {
  width: 100%;
  padding: 2% 0 2% 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: auto;
  width: 100%;
  background-color: var(--highlight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: inline;
  flex-basis: border-box;
}

nav ul li {
  display: inline;
  flex-basis: border-box;
  padding: 0 1rem;
}

nav ul.navLeft {
  font-family: 'Oswald', sans-serif;
}

nav a:link {
  text-decoration: none;
  color: var(--dark-txt);
}

nav a:visited {
  text-decoration: none;
  color: var(--dark-txt);
}

nav a:hover {
  text-decoration: none;
  color: var(--dark-txt);
}

nav a:active {
  text-decoration: none;
  color: var(--dark-txt);
}

#logo {
  color: var(--pop);
  font-size: calc(16px + 2.5vmin);
}

.page {
  margin: 2rem auto;
  width: 90%;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: var(--pop);
  font-size: calc(36px + 5vmin);
}

form {
  width: fit-content;
  margin: auto;
  border: 2px solid var(--contrast);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.formField {
  width: 100%;
  margin: 1% 0;
  align-items: baseline;
}

label {
  display: inline;
  float: left;
  width: 12rem;
  padding-right: 1rem;
  text-align: right;
}

input[type=text] {
  display: inline;
  margin-right: 1rem;
  width: 18rem;
  font-size: calc(10px + 1.5vmin);
  font-family: 'Lato', sans-serif;
}

input[type=date] {
  display: inline;
  margin-right: 1rem;
  width: 18rem;
  font-size: calc(10px + 1.5vmin);
  font-family: 'Lato', sans-serif;
}

select {
  display: inline;
  margin-right: 1rem;
  width: 18rem;
  font-size: calc(10px + 1vmin);
  font-family: 'Lato', sans-serif;
}




